.new_post_body {
    width: 100%;
    /* flex-grow: 1; */ /* height: 91.530vh;  */ 
    /* height: 89.92vh; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

form.new_post_container {
    display: grid;
    align-self: center;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    max-width: 80%;
    /* max(70%, 50vh);   /* calc(50vh + 200px) */
    /* max-height: 70%; */
    background-color: transparent;
}

/*---- 1st section Image ------*/

section.edit_image {
    grid-column-start: span 2;
    display: flex;
    flex-direction: column;
    margin: 2px;
    height: fit-content;
}

/* .image_div {} */

.a_for_pics {
    text-decoration: none;
    color: rgb(68, 9, 36);
    font-size: 18px;
}

.edit_image .a_for_pics:focus {
    border: 2px solid #0b316b;
}

.image_div img {
    max-width: 100%;
    max-height: 700px;
    border-radius: 10px;
    border: 1px solid #0b316b;
}

.img_label {
    margin: 5px;
    /* margin-top: auto; */
    width: max-content;
    padding: 7px 9px 5px;
    background-color: rgba(131, 206, 196, 0.267);
    border-radius: 17px;
    border: 1px solid rgba(35, 161, 130, 0.712);
    transition: background-color 1s ease-out;
}
.img_label:focus {
    border: 2px solid #0b316b;
}

.img_label:hover {
    background-color: rgba(131, 206, 196, 0.856);
    cursor: pointer;
}

.image_src_input {
    width: 75%;
    line-height: 2.1;
    font-size: 16px;
    padding: 3px 7px 0 11px;
    background-color: rgba(196, 204, 235, 0.692);
    border-radius: 15px;
    margin-right: 5px;
}

.image_src_input::placeholder {
    color: #0b316b;
    opacity: 0.9;
}

.img_help_btns {
    display: flex;
}

.for_inp_n_btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.span_for_btn button.inp_btn {
    background-color: none;
    border: none;
}

.span_for_btn {
    /* width: max-content; */
    padding: 7px 9px 4.5px 9px;
    background-color: rgba(131, 206, 196, 0.267);
    border-radius: 17px;
    border: 1px solid rgba(35, 161, 130, 0.712);
    transition: background-color 1s ease-out;
}
.span_for_btn:hover {
    background-color: rgba(131, 206, 196, 0.856);
    cursor: pointer;
}
.span_for_btn:focus {
    border: 2px solid #0b316b;
}

/*---- 2nd section Service ------*/
section.service {
    margin-left: 2px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title, .tags, .author {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 6px 16px 11px;
    align-items: end;


    margin-bottom: 10px;
    border: 3px solid rgba(116, 41, 11, 0.603);
    background-image: linear-gradient(135deg, rgba(172, 119, 119, 0.452), rgba(44, 74, 207, 0.411));;
    border-radius: 15px;
}

.author {
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-height: 120px;
}

.author_inf {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.author_name {
    font-weight: 700;
    font-size: 16px;
    text-decoration: underline;
    color: rgb(17, 40, 116);
    width: min-content;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 19px;
    transition: 0.7s ease-in-out;
}
.author_name:hover {
    text-decoration: none;
    background-color:rgba(223, 222, 205, 0.507);
    border: 2px solid rgb(34, 10, 46);
}


.author_about {
    font-size: 16px;
    padding-left: 7px;
    margin-top: 3px;
    color: rgba(241, 160, 7, 0.911);
    text-shadow: 2px 0 12px rgba(104, 50, 11, 0.932), 0 0 1em rgb(196, 24, 96);
    /* color: rgba(148, 23, 197, 0.822); */
}

.author_ava {
    min-width: 70px;
    min-height: 70px;
}

.title_n_tags {
    display: flex;
    flex-direction: column;
}

.author {
    height: 100%;
}

/* .title h3 {} */
.title h5 {
    margin: 6px 0;
    color: rgb(87, 57, 43);
}
.title_n_tags p {
    margin: 1px 0 10px;
    display: flex;
    justify-self: end;
    font-size: 14px;
}

.title_n_tags span {
    display: flex;
    width: 100%;
    justify-content: center;
}
.title_n_tags input[type="text"] {
    padding: 6px;
    width: 75%;
    line-height: 2.1;
    font-size: 16px;
    padding: 3px 7px 0 11px;
    background-color: rgba(196, 204, 235, 0.692);
    border-radius: 15px;
    margin-right: 5px;
}

.title_font {
    margin: 0;
    color: rgba(221, 201, 24, 0.685);
    text-shadow: 1px 1px 2px rgb(212, 163, 27), 0 0 1em rgb(23, 197, 37), 0 0 0.2em rgba(9, 140, 201, 0.637);
} 

.tags {
    margin-bottom: 0;
}

.title span {
    display: flex;
    flex-direction: column;
}

/*---- 3rd section Text ------*/

section.text {
    grid-column-start: span 3;
    margin: 2px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
}

.text_label {
    width: fit-content;
    padding: 7px 9px 4.5px 9px;
    margin: 10px 0 7px;
    text-decoration: none;
    background-color: rgba(131, 206, 196, 0.267);
    border-radius: 17px;
    border: 4px solid rgba(35, 161, 130, 0.712);
    transition: background-color 1s ease-out;
}

.text_label:hover {
    background-color: rgba(48, 231, 118, 0.897);
    cursor: pointer;
}
.text_label:focus {
    border: 5px solid #0b316b;
}
.submit_btn {
    letter-spacing: 4px;
    text-shadow: -0.5px 0.5px 1.5px rgba(23, 143, 12, 0.973);
}

.text_span {
    align-self: center;
}

.text_span textarea {
    resize: none;
    min-width: 60vw;
    font-size: 18px;
    padding: 10px 10px;
    border-radius: 16px;
}


/*------ errors ------- */
.title .title_input_span, .tags .tags_input_span, .text .text_span {
    position: relative;
}

.error_box {
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 5.5px 9px 5px;
    top: 45px;
    background-color: rgba(255, 235, 205, 0.575);
    border-radius: 16px;
    border: 1px solid rgb(185, 24, 24);
}
.text_span .error_box {
    top: 75px;
    left: 3px;
    /* top: auto; */
}

p.errorMessage {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(134, 11, 11);
    font-size: 15px;
    max-width: 340px;
    margin: 0;
    padding: 0;
    line-height: 20px;
}


/*---- popup ------*/

.info_author_popup {
    position: absolute;
    border: 0.5px solid rgba(255, 228, 196, 0.253);
    border-radius: 17px;
    transition: 1s ease-in-out;
}

.info_author_popup_passive {
    height: 0;
    width: 0;
    top: 5px;
    left: 100px;
}

.info_author_popup_active {
    height: 160px;
    width: 600px;
    top: 5px;
    left: 100px;
    background-color:rgba(223, 222, 205, 0.884);
    border: 2px solid rgb(34, 10, 46);
}


.popup_info {
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.popup_author_inf {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ava_div {
    height: 100%;
    width: 30%;
}

.popup_author_name {
    font-weight: 900;
    font-size: 16px;
    color: rgb(17, 40, 116);
    width: min-content;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 19px;
    transition: 0.7s ease-in-out;
}
.popup_author_name:hover {
    text-decoration: none;
    background-color:rgba(224, 198, 148, 0.699);
    border: 2px solid rgba(7, 31, 99, 0.651);
}

.popup_author_about {
    font-size: 18px;
    padding-left: 7px;
    margin-top: 3px;
    color: rgb(109, 76, 16);
    align-self: center;
    /* text-shadow: 2px 0 12px rgba(104, 50, 11, 0.932), 0 0 1em rgb(196, 24, 96); */
    /* color: rgba(148, 23, 197, 0.822); */
}

.popup_author_ad_inf {
    grid-column-start: span 2;
}
.popup_id {}
.popup_email {}
.popup_group {}

.ava_div .popup_author_ava {
    width: 100%;
    height: 100%;
}