.post__favourite.post__favourite_is_active {
    color: rgb(216, 25, 25);
}


#cardGridCont_ID {
    min-width: 320px;
    flex: 1;
    display: inline;
}


/* .profile_container .profile_author_info_section .author_avatar .profile_author_ava {
    width: fit-content;
    height: fit-content;
} */



#homebutton {
    /* text-shadow: rgb(24, 173, 24) 1px 0 10px; */
    color: #FC0;
    border: 1px solid rgba(223, 168, 17, 0.568);
}


/*-------*/

.text::-webkit-scrollbar {
    width: 11px;
}

.text::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
}

.text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #ece02d, #ee941fc7);
}



/* #cardStyleID {
    min-width: 330px;
} */

/* .text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #00c6fb, #005bea);
} */

/*----------*/

/* div.card {
    box-shadow: 3px 3px 7px #e67225c7;
    display: flex;
    flex-direction: column;
    min-width: 500;
} */


/* ----- PreLoader ------- */