

.header{
    /* height: 150px; */
    /* background-color: #1976d2; */
    /* padding-bottom: 20px; */
    /* margin-bottom: 0; */
}

.header.styles_header__WzVex.MuiBox-root.css-i9gxme {
    /* height: 100%; */
    /* padding-bottom: 20px;
    margin-bottom: 0; */
}


/* style color #1976d2 */

.header header {
    height: 130px;
    /* height: 100%; */
}

/* .div_box {
    height: 100%;
} */

.appbar {
    height: 100%;
}

.div_box {
    margin: 0;
    width: 100%;
}

.profile_buttons {
    margin: 7px 8px 0 0;
}

.div_menu {
    display: flex;
    align-items: baseline;
}

.header .div_title_box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Playfair', serif;
    font-weight: 800;
    font-size: 46px;
    color: rgba(16, 216, 16, 0.863);
    text-shadow: rgb(255, 187, 0) 1px 0 10px;
    /* color: rgba(17, 240, 17, 0.733); */
}

.div_title_box_text {
    /* align-self: center; */
    line-height: 4vh;
}
.div_title_box_text span {
    font-size: 21px;
}

.search_area {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}
